<%- include('../partials/header.ejs') %>

<div id="newForm">
    <img id="newFormBkg" src="/images/logo.jpeg" alt="This is the logo name.">
    <h1>My Gigs</h1>
    <% if (user.gigs.length) { %>
        <ul>
            <% user.gigs.forEach((gig)=> { %>
                <button class="gigSelect" id="form">
                    <a href="/gigs/<%= gig._id %>">
                        <%= gig.name %>
                    </a>
                    Status: <%= gig.status %> <br>
                </button>
            <% }) %>
        </ul>
    <% } else { %>
        <h2>No current Gigs!</h2>
    <% } %>
</div>

<%- include('../partials/footer.ejs') %>