<%- include('../partials/header.ejs') %>

<h1>My Gigs</h1>
<% if (user.gigs.length) { %>
     <ul>
         <% user.gigs.forEach((gig)=> { %>
            <p><a href="/gigs/<%= gig._id %>">
              <%= gig.name %> <br></a>
              Status:  <%= gig.status %> <br>
            </p>
            <% }) %>
    </ul>
<% } else { %>
    <h2>No current Gigs!</h2>
<% } %>

<%- include('../partials/footer.ejs') %>