<%- include('../partials/header.ejs') %>

  <h1><%= gig.name %></h1>
    <p>
      Type: <%= gig.type %> <br>
      Venue: <%= gig.venue %> <br>
      Date: <%= gig.date %> <br>
      Call Time: <%= gig.callTime %> <br>
      Privacy: <%= gig.privacy %> <br>
      Status: <%= gig.status %> <br>
      Agenda: <%= gig.agenda %> <br>
      Extra Details: <%= gig.extraDeets %>
    </p>
      
<form action="/gigs/<%= gig._id %>?_method=DELETE" method="POST">
  <button type="submit">␡</button>
</form>

        <%- include('../partials/footer.ejs') %>
